*{
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: indianred;
    margin: 0;
}

section{
    display: flex;
    margin-top: 5%;
}

hr{    
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin-bottom: 1rem;
}

.nav-bar{
    margin-top: 0%;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-around;

}

.nav-logo{
    align-self: center;
    margin-left: 1rem;
    flex: 35%;
}

#nav-menu{
    display: flex;
    flex: 50%;
    margin-top: 50px;
    list-style-type: none;
    align-self: center;
}

.nav-list{
    color: #f2f2f2;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    text-transform: uppercase;
}

.nav-list:hover{
    color: rgb(206, 71, 71);
}

.nav-btn{
    border: 2px solid #f2f2f2;
    padding: 1em 0.5em;
    border-radius: 20px;
}

.nav-btn:hover{
    background-color: #f2f2f2;
}

.nav-btn a{
    font-size: 12px;
    text-align: center;
    padding: 0 1.5em;
    letter-spacing: 2px;
}

.mobile-menu{
    display: inline;
    position: absolute;
    position: fixed;
    z-index: 100;
    top: 2rem;
    right: 2rem;
    padding: 0.3rem;
    border: black solid 1px;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 20%;
    cursor: pointer;
    display: none;
}

.clicked{
    color: rgb(81, 193, 212);
}

.nav-btn a:hover{
    color: rgb(206, 71, 71);
}

.text{
    flex: 40%;
    padding: 3rem;
    text-align: center;
    align-self: center;
}

.text h1{
    font-size: 2rem;
}

.text p{
    font-weight: 100;
    font-size: 1.5rem;
}

.image{
    flex: 40%;
    padding: 4rem;
}

.image img{
    border-radius: 8%;
    /* border: solid 1px grey; */
    align-self: center;

}

.hero img{
    width: 100%;
    height: 25rem;
    position: relative;
}

.hero-txt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-txt h1{
    margin-top: 0.15rem;
    font-size: 5.3rem;
    font-weight: 500;
}

.hero-txt p{
    font-size: 2.5rem;
    padding: 1.5rem;
    font-weight: bold;
}

.text ul{
    font-size: 1.6rem;
    padding: 1rem; 
    text-align: left;  
}

.text ul li{
    padding: 0.5rem;
}

#services{
    flex-direction: row-reverse;
}

#gallery{
    flex-direction: column;
}

#gallery .image img{
    width: 24%;
    align-self: flex-end;
    padding: 0.1rem;
    border-radius: 20% 0;
}

footer{
    display: flex;
    background-color: rgba(0, 0, 0, 0.75);
    color: rgb(165, 164, 164);
    margin-top: 3rem;
    flex-direction: column;
}

.footer-logo{
    align-self: center;
    max-width: 45%;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
}

.footer-logo p{
    text-align: center;
}

.footer-logo img{
    padding-bottom: 1rem;
    align-self: center;

}

.footer-contact{
    /* align-self: center; */
    text-align: center;
}

.footer-contact p{
    padding: 0.5rem;
}

.footer-contact span a {
    padding: 0.5rem;
}

.footer-contact a{
    text-decoration: none;
    color: rgb(165, 164, 164);
}

.footer-contact h6{
    padding-top: 3rem;
}


/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */


/* Large devices (laptops/desktops, 1025px and up) */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {

    .text h1{
        font-size: 1.7rem;
    }

    .text p{
        font-size: 1.3rem;
    }

    .text ul{
        font-size: 1.3rem;
        padding: 1rem; 
    }

    #nav-menu{
        flex: 63%;
        margin-right: 1rem;
    }

    .nav-btn{
        border: none;
        padding: 0 0;
        border-radius: 20px;
    }

    .hero-txt{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .hero-txt h1{
        font-size: 4.6rem;
    }

    .hero-txt p{
        font-size: 2rem;
    }

    #about .text p{
        font-size: 1.2rem;
    }

    #about .image{
        align-self: center;
        width: 100%;
    }

    #services .image{
        align-self: center;
        width: 100%;
    }

    #events .image{
        width: 100%;
    }

    #gallery{
        flex-direction: column;
    }

    #gallery .image{
        display: flex;
        justify-content: space-around;
    }

    #gallery .image img{
        width: 25%;
        align-self: flex-end;
        padding: 0.1rem;
        border-radius: 20% 0;
    }
    
}

/* Medium devices (landscape tablets, 769px and up) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {

    .text h1{
        font-size: 1.4rem;
    }

    .text p{
        font-size: 1rem;
    } 

    .text ul{
        font-size: 0.95rem;
        padding: 0.8rem; 
    }

    .text ul li:last-child{
        display: none;  
    }

    #nav-menu{
        margin-top: 25px;
        flex: 55%;
    }

    .nav-btn{
        display: none;
    }

    .hero-txt{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .hero-txt h1{
        font-size: 3.45rem;
    }

    .hero-txt p{
        font-size: 1.45rem;
        padding: 1.5rem 2rem;
    }

    #about .text br{
        display: none;
    }

    #about .image img{
        width: 117%;
    }

    #services .image img{
        width: 119%;
    }

    #events .image img{
        width: 117%;
    }

    #gallery .image{
        flex-direction: row;
        justify-content: space-between;
    }

    #gallery .image img{
        align-self: center;
        width: 45%;
        margin-left: 2rem;
    }

}

/* Small devices (portrait tablets and large phones, 481px and up) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
     
    section{
        margin-top: 1%;
        flex-direction: column;
    }

    .text{
        flex: 100%;
        margin-top: 13rem;
    }

    .image{
        padding: 3rem;
        flex: 100%;
    }

    .text h1{
        font-size: 1.1rem;
    }

    .text p{
        font-size: 0.85rem;
    } 

    .text ul{
        font-size: 0.85rem;
        padding: 0; 
    }

    .text ul li:last-child{
        display: none;
    }

    .nav-bar{
        height: 7rem;
        display: block;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.95);
        z-index: 99;
    }

    .nav-logo img{
        margin-top: 1rem;
    }

    .menu{
        position: fixed;
        display: flex;
        flex-direction: column;
        text-align: left;
        padding-top: 4rem;
        padding: 9rem 0;
        transform: translateY(-100%);
        transition: transform 0.2s;
        top: -3rem;
        bottom: 13rem;
        right: 0;
        left: 0;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.75);
        margin-top: 0;
    }

    .show-menu{
        transform: translateY(0);
    }

    #nav-menu li{
        padding: 1rem;
    }

    .nav-btn{
        display: none;
    }

    .mobile-menu{
        display: inline;
        position: absolute;
        position: fixed;
        z-index: 100;
        top: 2rem;
        right: 2rem;
        padding: 0.3rem;
        border: black solid 1px;
        background: rgba(0, 0, 0, 0.75);
        border-radius: 20%;
        cursor: pointer;
    }

    .menu-btn{
        font-size: 2rem;
        color: #f2f2f2;
    }

    .close-btn{
        font-size: 2rem;
        color: #f2f2f2;
        display: none;
    }

    .hero img{
        margin-top: 7rem;
    }

    .hero-txt{
        top: 50%;
    }
    
    .hero-txt h1{
        font-size: 2.25rem;
    }
    
    .hero-txt p{
        font-size: 0.9rem;
    }

    #about .text p:last-child{
        display: none;
    }

    #about .text br{
        display: none;
    }

    #about .image img{
        width: 100%;
    }

    #services{
        flex-direction: column;
    }

    #services .image img{
        width: 100%;
    }

    #events .image img{
        width: 100%;
    }

    #gallery .image img{
        align-self: center;
        width: 80%;
        margin-left: 2rem;
    }

    
}

/* Extra small devices (phones, 480px and down) */
@media only screen and (min-width: 320px) and (max-width: 480px) {

    section{
        flex-direction: column;
    }

    .text{
        margin-top: 10rem;
    }

    .text h1{
        font-size: 1.4rem;
    }

    .text p{
        font-size: 0.95rem;
    } 

    .text ul{
        font-size: 0.95rem;
        padding: 1rem; 
    }

    .text ul li:last-child{
        display: none;
    }

    .nav-bar{
        height: 7rem;
        display: block;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.95);
        z-index: 99;
    }

    .nav-logo img{
        margin-top: 1rem;
    }

    .menu{
        position: fixed;
        display: flex;
        flex-direction: column;
        text-align: left;
        padding-top: 4rem;
        padding: 9rem 0;
        transform: translateY(-100%);
        transition: transform 0.2s;
        top: -3rem;
        bottom: 13rem;
        right: 0;
        left: 0;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.75);
        margin-top: 0;
    }

    .show-menu{
        transform: translateY(0);
    }

    #nav-menu li{
        padding: 1rem;
    }

    .nav-btn{
        display: none;
    }

    .mobile-menu{
        display: inline;
        position: absolute;
        position: fixed;
        z-index: 100;
        top: 2rem;
        right: 2rem;
        padding: 0.3rem;
        border: black solid 1px;
        background: rgba(0, 0, 0, 0.75);
        border-radius: 20%;
        cursor: pointer;
    }

    .menu-btn{
        font-size: 2rem;
        color: #f2f2f2;
    }

    .close-btn{
        font-size: 2rem;
        color: #f2f2f2;
        display: none;
    }

    .hero img{
        margin-top: 7rem;
    }

    .hero-txt{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .hero-txt h1{
        font-size: 2.5rem;
        text-align: center;
    }
    
    .hero-txt p{
        font-size: 1.1rem;
        text-align: center;
    }

    #about .text br{
        display: none;
    }

    #about .image img{
        width: 100%;
    }

    #services{
        flex-direction: column;
    }
    
    #services .image img{
        width: 100%;
    }

    #events .image img{
        width: 100%;
    }
    
    #gallery .image{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #gallery .image img{
        width: 90%;
        align-self: center;
    }
}
 

